body{
    height: 100vh;
    font-family: sans-serif;
    color: black;
    flex-direction: column;
    background:#FDA377 ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF7F50;
    margin-bottom: 200px;
}
input{
    width: 200%;
    height: 30px;
    background: #FDA488;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}
li{
    background-color: #FBBFA2;
    border-radius: 15px;
    /* padding: 20px; */
}
nav li{
    text-align: center;
    padding:15PX 45px 15px;
}
main{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 50px;
    justify-content: center;
    display: flex;
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
}
.image{
    /* padding: 20px 2px; */
    /* margin-left: 20px; */
    /* margin-right: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 300px; */
    height: 300px;
    
}
button{
    width: 400px;
    height: 100px;
    font-size: 50px;
    background: #FF7F50;
    border-radius: 40px;
}
.p{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    font-size: 25px;
}
footer{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background: #FF7F50;
    width: 100%;
    font-size: 20px;
}